<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CloudParallelSuite" parallel="tests" thread-count="2">

    <test name="ChromeSearchTest">
        <classes>
            <class name="runner.CloudTestRunner" />
        </classes>
    </test>

    <test name="SafariSearchTest">
        <classes>
            <class name="runner.CloudTestRunner" />
        </classes>
    </test>

</suite>
